<script setup lang="ts">
import { ref } from 'vue'

defineProps<{ timerTitle: string }>()

const ExpiredTimer = ref(0)
const interval = ref <number | undefined>(undefined);
const status = ref<"stopped" | "running" | "paused">("stopped")

function startTimer() {
  status.value = 'running';
  interval.value = setInterval(() => {
    ExpiredTimer.value++;
  }, 1000)
}

function stopTimer() {
  status.value = 'paused';
  clearInterval(interval.value);
  interval.value = undefined;
}

function restartTimer() {
  status.value = 'stopped';
  ExpiredTimer.value = 0;
  clearInterval(interval.value);
  interval.value = undefined;
}

function formatTimer(ExpiredTimer: number) {
  const hr = `0${Math.floor(ExpiredTimer / 3600)}`.slice(-2);
  const min = `0${Math.floor(ExpiredTimer / 60)}`.slice(-2);
  const sec = `0${ExpiredTimer % 60}`.slice(-2);
  return `${hr} : ${min} : ${sec}`;
}
</script>

<template>
  <h4 class="text-white share-tech">{{ timerTitle }}</h4>

  <div class="container-fluid mt-5 m-auto">
    <div class="timer text-center share-tech">
      <span class="fs-1 text-white">{{ formatTimer(ExpiredTimer) }}</span>
        <div class="tools">
          <button
              v-if="status === 'stopped'"
              type="button"
              class="btn btn-success mt-3 mx-2 fs-5"
              @click="startTimer">Start</button>
          <button
              v-if="status === 'running'"
              type="button" class="btn btn-secondary mt-3 mx-2 fs-5" @click="stopTimer">Stop</button>
          <button
              v-if="status === 'paused'"
              type="button" class="btn btn-primary mt-3 mx-2 fs-5" @click="startTimer">Resume</button>
          <button
              v-if="status === 'running' || status === 'paused' "
              type="button" class="btn btn-danger mt-3 mx-2 fs-5" @click="restartTimer">Restart</button>
        </div>
    </div>
  </div>
</template>

<style scoped>
  .timer{
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  }
</style>
